body {
	background-image: url(https://freight.cargo.site/w/4016/q/75/i/ce887d7a48e9336199e2d54b7adedd04ee7687c5424bf9ef6b591e7b339e0aad/P1003041-2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	font-family: 'Rajdhani', sans-serif;
}
h1 {
	text-align: center;
	margin: 30px auto 0px auto;
	line-height: 130%;
}
h3 {
	text-align: center;
	margin: 0px auto 20px auto;
}
#villian,
#villian2 {
	height: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.title {
	color: rgb(121, 1, 219);
	font-family: 'ZCOOL KuaiLe', cursive;
}
h4 {
	font-size: 14px;
	margin: 0px 6px 0px 0px;
	color: rgb(113, 239, 163);
}
.levelDiv {
	height: 14px;
	width: 14px;
	margin: 0px 2px 0px 0px;
	color: rgb(113, 239, 163);
}
.levelDiv {
	height: 13px;
	width: 13px;

	border: 1px solid rgb(113, 239, 163);
	margin: 0px;
}

.levelOne,
.levelTwo,
.levelThree {
	display: flex;
	flex-direction: row;
}

.scoreBoard {
	color: rgb(113, 239, 163);
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
	margin-top: 15px;
	line-height: 130%;
}
.score {
	margin-right: 20px;
	margin-left: 20px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 96vw;
	height: 80vh;
}

.flex-left {
	width: 50px;
}

.flex-right {
	width: 50px;
}
.alpha {
	background-color: rgb(80, 203, 147, 0.8);
	border: 1px solid black;
	height: 3.3vh;
	text-align: center;
	font-size: 3.3vh;
	margin: 2px;
	font-family: 'Rajdhani', sans-serif;
	padding: 10px;
}
.flex-container2 {
	width: 100vw;
	display: flex;
	flex-direction: column;
}
.flex-up {
	height: 50vh;
}
.flex-down {
	width: 80vw;
	height: 30vh;
}

.clicked {
	background-color: rgb(84, 67, 107, 0.8);
	border: 1px solid black;
	text-align: center;
	margin: 2px;
}
.wrong {
	background-color: rgb(47, 93, 98, 0.8);
}

.minionImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	height: 70%;
}

.footer {
	display: flex;
}
.menuButton {
	width: 150px;
	height: 30px;
	margin: 50px 120px 10px 10px;
}
.flex-down {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-around;
}
.dashes {
	height: 50px;
	width: 50px;
	background-color: rgb(84, 67, 107, 0.9);
	border: 2px solid white;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
	margin: 2rem 5px;
	font-size: 40px;
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	color: white;
}
._ {
	background-color: white;
	border: none;
	box-shadow: none;
	height: 0.00001px;
	width: 100vw;
	margin: 0px 5px;
}
.leftMenu {
	width: 25vw;
}
.rightMenu {
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
	width: 75vw;
}
/* -------------------------------- MODALS ------------------------------------ */
.basicModal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
	/* Set this to `none` so that the modal does not show initially on page load. */
}
.basicModalTextbox {
	background-color: rgb(84, 67, 107, 0.97);
	color: white;
	height: 200px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 130%;
}
#modal-textbox {
	height: 350px;
}
#levelWinScore {
	font-size: 24px;
	text-align: center;
}
#win-level-textbox {
	height: 300px;
}
#modal-footer,
#lose-modal-footer,
#win-modal-footer,
#win-level-footer {
	text-align: right;
}
/* -------------------------------- START GAME MODAL ------------------------------------ */
#startGameModal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: block;
}
#start-modal-textbox,
#lose-modal-textbox {
	background-color: rgba(84, 67, 107, 0.9);
	color: white;
	height: 400px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 140%;
}
#start-modal-footer {
	text-align: center;
	margin: 0 50px;
	padding: 0 50px;
}

@media (max-width: 400px) {
	#start-modal-textbox {
		height: 70vh;
		width: 80vw;
		line-height: 1.2;
	}
	#start-modal-footer {
		margin: 80px auto 0px auto;
	}
	#modal-textbox {
		height: 65vh;
		width: 80vw;
		line-height: 1.15;
	}

	.flex-right {
		margin-right: 20px;
		width: 25px;
	}
	.flex-left {
		width: 25px;
	}
	.footer {
		display: flex;
		flex-direction: column-reverse;
	}
	.basicModalTextbox {
		height: 200px;
		width: 350px;
		padding: 2%;
		line-height: 130%;
	}
	#lose-modal-textbox {
		width: 80vw;
		height: 65vh;
	}
	.menuButton {
		width: 150px;
		height: 30px;
		margin: -40px 100px 0px 100px;
	}
	.scoreBoard {
		margin: -20px 0px;
		font-size: small;
	}
	.score {
		margin-left: 15px;
		margin-right: 15px;
	}
	.flex-up {
		margin-left: 120px;
	}
	.flex-down {
		display: flex;
		flex-wrap: wrap;
		align-content: space-around;
		margin-left: 80px;
		width: 100vw;
	}
	.dashes, .alpha {
		height: 24px;
		width: 24px;
		font-size: 22px;
		padding: 0px;
	}
	._ {
		width: 100vw;
		border: none;
		height: 0.00001px;
		margin: 0px;
	}
	.minionImage {
		height: 45%;
	}
}
