body {
	/* background-image: url(https://i.pinimg.com/originals/19/b2/95/19b295386506efc12fa9e051d4fa3742.jpg); */
	background-image: url(https://freight.cargo.site/w/4016/q/75/i/ce887d7a48e9336199e2d54b7adedd04ee7687c5424bf9ef6b591e7b339e0aad/P1003041-2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* margin: 145px 0 0 0; */
	/* background: black; */
	height: 100vh;
	font-family: 'Rajdhani', sans-serif;
}
h1 {
	text-align: center;
	margin: 30px auto 0px auto;
	
}
.title{
	color: rgb(172, 255, 173);
	font-family: 'ZCOOL KuaiLe', cursive;
}
.scoreBoard {
	color: rgb(113, 239, 163);
}
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 96vw;
	height: 80vh;
}

.flex-left {
	width: 50px;
}

.flex-right {
	width: 50px;
}
.alpha {
	background-color: rgb(80, 203, 147, 0.8);
	border: 1px solid black;
	height: 5.5vh;
	text-align: center;
	font-size: 24px;
	margin: 2px;
	font-family: 'Rajdhani', sans-serif;
}
.flex-container2 {
	/* background-color: purple; */
	width: 80vw;
	display: flex;
	flex-direction: column;
}
.flex-up {
	/* border: 2px solid white; */
	width: 80vw;
	height: 50vh;
}
.flex-down {
	/* border: 2px solid white; */
	width: 80vw;
	height: 30vh;
}

.clicked {
	background-color: rgb(84, 67, 107, 0.8);
	border: 1px solid black;
	height: 5.5vh;
	text-align: center;
	font-size: 24px;
	margin: 2px;
}
.wrong {
	background-color: rgb(47, 93, 98, 0.8);
}

.minionImage {
	/* margin: 100px 120px; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	height: 70%;
}

.footer {
	display: flex;
}
.menuButton {
	width: 150px;
	height: 30px;
	margin: 50px 120px 10px 10px;
}
.flex-down {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-around;
}
.dashes {
	/* align-content: center; */
	height: 50px;
	width: 50px;
	background-color: rgb(84, 67, 107, 0.8);
	border: 2px solid black;
	margin: 2rem 5px;
	font-size: 40px;
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
}
._ {
	background-color: white;
	border: none;
	height: 0.00001px;
	width: 100vw;
	margin: 0px 5px;
}
.leftMenu {
	width: 25vw;
}
.rightMenu {
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
	/* align-content: space-between; */
	width: 75vw;
}
/* -------------------------------- HOW TO PLAY MODAL ------------------------------------ */
/* #modal,
#loseGameModal,
#winGameModal,
#winLevelModal  */
.basicModal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
	/* Set this to `none` so that the modal does not show initially on page load. */
}
/* #modal-textbox,
#lose-modal-textbox,
#win-modal-textbox,
#win-level-textbox  */
.basicModalTextbox{
	background-color: rgb(84, 67, 107, 0.97);
	color: white;
	height: 75px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 130%;
	
}
#modal-textbox {
	height: 350px;
}
#levelWinScore{
	font-size: 24px;
	text-align: center;
}
#win-level-textbox{
	height: 150px;
}
#modal-footer,
#lose-modal-footer,
#win-modal-footer,
#win-level-footer {
	text-align: right;
}
/* -------------------------------- START GAME MODAL ------------------------------------ */
#startGameModal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: block;
}
#start-modal-textbox {
	background-color: rgba(84, 67, 107, 0.9);
	color: white;
	height: 100px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	padding: 2%;
	line-height: 120%;
	
}
#start-modal-footer {
	text-align: center;
	margin: 0 50px;
	padding: 0 50px;
}

#lose-modal-textbox {
	height: 75px;
}

@media (max-width: 400px) {
	body {
		margin: -10px 0px;
	}
	#lose-modal-textbox,
	#start-modal-textbox {
		background-color: white;
		height: 30vh;
		width: 80vw;
		border-radius: 2px;
		margin: 150px auto;
		line-height: 1.15;
	}
	#modal-textbox {
		background-color: white;
		height: 70vh;
		width: 80vw;
		border-radius: 2px;
		margin: 150px auto;
		line-height: 1.15;
	}
	.footer {
		display: flex;
		flex-direction: column-reverse;
	}
	.menuButton {
		width: 150px;
		height: 30px;
		margin: -50px 100px;
	}
	.scoreBoard {
		margin: 0px 0px;
		/* justify-content: space-between; */
		/* width: 100vw; */
		font-size: small;
	}
	.flex-down {
		display: flex;
		flex-wrap: wrap;
		align-content: space-around;
	}
	.dashes {
		height: 24px;
		width: 24px;
		background-color: royalblue;
		border: 2px solid black;
		font-size: 24px;
		text-align: center;
	}
	._ {
		width: 100vw;
		background-color: white;
		border: none;
		height: 0.00001px;
		margin: 0px;
	}
	.minionImage {
		display: inline;
		/* margin: 0px 20px 0px 20px; */
		margin-top: 10vh;
		margin-right: 75vw;
		height: 45%;
	}
}
